.MainSignUP {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    max-width: 500px;
    max-height: 700px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #2980b9;
}

.forgotPass {
    text-transform: uppercase;
    color: rgb(211, 25, 25);
    size: 15;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.forgotPass:hover {
    color: red;
    cursor: pointer;
}